@import '../../global';


.topbar{
    background-color:white;
    color:$mainColor ;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 1s ease;
    z-index: 3;
    .wrapper{
        padding:10px 20px;
        display:flex;
        align-items:center;
        justify-content: space-between;
        .left{
            display: flex;
            align-items: center;
            .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 30px;
                @include mobile{
                    display: none;
                }
                .icons{
                    margin-right: 7px;
                    font-size: 20px;
                    
                }
                span{
                    font-size: 15px;
                    font-weight: 400;
                }
                
            }
            .logo{
                color: inherit;
                text-decoration: none;
                font-size: 40px;
                font-weight: 700;
            }

            
        }
        .right{
            .humbrgur{
                width: 32px;
                height: 25px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                
                span{
                    width: 100%;
                    height: 3px;
                    background-color:$mainColor;
                    transform-origin: left;
                    

                }
            }
        }

    }

    &.active{
        background-color:$mainColor;
        color: white;
        .humbrgur{
            
            span {
                &:first-child{
                    background-color: #fff;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: #fff;
                    transform: rotate(-45deg);
                }
            }
        }
    
    }
}